<%include ./partials/header %>

	<div class="body-container">
		<div class="row-title">
			<p id="sub-title">Hello, <%= username %>, create or modify your profile information here</p>
		</div>
		<div class="row-features">
			<div class="feature">
				<h4>Location</h4>
				<div class="profile profile-location">
					<%= location %>
					<button type="submit"><a href="/edit-profile/<%= user._id %>">Edit</a></button>
				</div>
			</div>
			<div class="feature">
				<h4>Username</h4>
				<div class="profile profile-name">
					<%= username %>
					<button type="submit"><a href="/edit-profile/<%= user._id %>">Edit</a></button>
				</div>
			</div>
			<div class="feature">
				<h4>email</h4>
				<div class="profile profile-email">
					<%= email %>
					<button type="submit"><a href="/edit-profile/<%= user._id %>">Edit</a></button>
				</div>
			</div>
		</div>
		<div id="spacing"></div>
	</div> <!-- .body-container -->


<% include ./partials/footer %>