<%include ./partials/header %>

	<div class="body-container">
		<div class="row-title">
			<p id="sub-title">Hello, <%= username %>, create or modify your profile information here</p>
		</div>
		<div class="row-features">
			<div class="feature">
				<!-- <h4 class="profile-header">Location</h4> -->
				<div class="profile profile-location">
					<h4 class="profile-header">Location</h4>
					<%= location %>
					<button class="edit-profile" type="submit">
						<a href="/edit-profile/<%= user._id %>">Edit</a>
					</button>
				</div>
			</div>
			<div class="feature">
				<!-- <h4 class="profile-header">Username</h4> -->
				<div class="profile profile-name">
					<h4 class="profile-header">Username</h4>
					<%= username %>
					<button class="edit-profile" type="submit">
						<a href="/edit-profile/<%= user._id %>">Edit</a>
					</button>
				</div>
			</div>
			<div class="feature">
				<!-- <h4 class="profile-header">email</h4> -->
				<div class="profile profile-email">
					<h4 class="profile-header">email</h4>
					<%= email %>
					<button class="edit-profile" type="submit">
						<a href="/edit-profile/<%= user._id %>">Edit</a>
					</button>
				</div>
			</div>
		</div>
		<div id="spacing"></div>
	</div> <!-- .body-container -->


<% include ./partials/footer %>